@model SharpGeoApi.Core.Root
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@Model.Metadata.Identification.Title - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="language" content="en-US">
    <meta name="description" content="@Model.Metadata.Identification.Description">
    <meta name="keywords" content="@Model.Metadata.Identification.Keywords">
    <link rel="stylesheet" href="https://unpkg.com/mini.css@3.0.1/dist/mini-default.min.css">
    <link rel="stylesheet" href="~/default.css" />
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->

</head>
<body>
    <section id="identification">
        <h1 itemprop="name">@Model.Metadata.Identification.Title</h1>
        <p itemprop="description">
            @Model.Metadata.Identification.Description
        </p>
        <b>Terms of service:</b> @Model.Metadata.Identification.Terms_Of_Service
        <br />
        <p itemprop="keywords">
            @foreach (var item in Model.Metadata.Identification.Keywords)
            {
                <mark class="tag">@item</mark>
            }
        </p>
    </section>
    <section id="collections">
        <h2>Collections</h2>
        <p>
            <a href="@Model.GetUrl("data")">
                View the collections in this service
            </a>
        </p>
    </section>
    <section id="processes">
        <h2>Processes</h2>
        <p>
            <a href="@Model.GetUrl("processes")">
                View the processes in this service
            </a>
        </p>
    </section>

    <section id="api">
        <h2>OpenAPI definition</h2>
        <p>
            <a href="@Model.GetUrl("service-doc")">
                OpenAPI
            </a>
        </p>
    </section>

    <section id="conformance">
        <h2>Conformance</h2>
        <p>
            <a href="@Model.GetUrl("conformance")">View the conformance classes of this service</a>
        </p>
    </section>
    <section id="license">
        <br />
        <b>License:</b>
        <a href="@Model.Metadata.License.Url">@Model.Metadata.License.Name</a>
        <br />
    </section>
    <section id="Provider">
        <br />
        <b>Provider:</b>
        <a href="@Model.Metadata.Provider.Url">@Model.Metadata.Provider.Name</a><br />
    </section>
    <br />
    <section id="Contact">
        <b>Contact:</b><br />
        Name: @Model.Metadata.Contact.Name<br />
        Position: @Model.Metadata,Contact.Position<br />
        City: @Model.Metadata.Contact.City<br />
        State/Province: @Model.Metadata.Contact.StateOrProvince<br />
        Postal code: @Model.Metadata.Contact.PostalCode<br />
        Country: @Model.Metadata.Contact.Country<br />
        Phone: @Model.Metadata.Contact.Phone<br />
        Fax: @Model.Metadata.Contact.Fax<br />
        E-mail: @Model.Metadata.Contact.Email<br />
        Url: @Model.Metadata.Contact.Url<br />
        Hours: @Model.Metadata.Contact.Hours<br />
        Instructions: @Model.Metadata.Contact.Instructions<br />
        Role: @Model.Metadata.Contact.Role<br />
    </section>

</body>
</html>